
:root{
    --color-dark:#a14f4f;
    --color-norm:#9d7b7b;
    --color-link:#ecdddd;
}
body{   
    margin: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav+p{
    width: 900px;
    margin-top: 25px;
    line-height: 25px; 
}

.nav-list{
    display: inline-block;
    position: relative; 
    background-color:var(--color-norm);
    color: var(--color-link);
}
.link{
    display: block;
    width: 100px;
    padding: 10px;
    text-transform:capitalize;
    text-decoration: none;
    text-align: center; 
    
}
.nav-list:hover{
    background-color:var(--color-dark);
}
.iner-menu-items{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
.iner-menu-items>.nav-list{
   display: block;
}
.nav-list:hover>.iner-menu-items{
    display: block;      
}
.iner-menu-items .iner-menu-items{
    width: 100%;
    left:100px;
    top: 0;
}.iner-menu-items .iner-menu-items .iner-menu-items{
    width: 100%;
    left:-100px;
    top:0;
}

    

