*{
    box-sizing: border-box;
}
:root{
    --color-dark:#a14f4f;
    --color-norm:#9d7b7b;
    --color-link:#ecdddd;
}
body{
    
    margin: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapper{
    max-width: 1000px;
    width: 100%;
}
.wrapper>p{
    line-height: 25px;
}
.iner-menu-items__section{
    display: inline-block;
    margin-bottom: 20px;
    
}
.iner-menu-items__link{
    display: block;
    width: 120px;
    height: 40px;
    padding: 12px 0;
    
}
.iner-link{
    background-color:var(--color-norm);
    color: var(--color-link);
    text-transform:capitalize;
    text-decoration: none;
    text-align: center;
}
.iner-link:hover{
    background-color:var(--color-dark);
}
